p{
    color:orange;
    font-size:30px;
}

#especifica{
    color:violet;
    font-size:50px;
}

.Assault{
    color:yellow;
}

.Engineer{
    color:salmon;
}

.Sniper{
    color:darkslateblue;
}

.Support{
    color:deepskyblue;
}

#tituloclasses{
    color:red;
    text-align:center;
    font-size:35px;
}